html, body {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.tab-btn {
	border: none;
	margin: 0;
	background-color: #e6e6e6;
}

.disable {
	border: none;
	margin: 0;
	background-color: #f2f2f2;
}

.form-signin {
	background-color: #e6e6e6;
	width: 100%;
	max-width: 330px;
	margin: auto;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-floating:focus-within {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
}

.form-signin input[type="password"] {
	margin-bottom: -2px;
}

.form-signin form-select {
	margin-bottom: 20px;
}